form {
    display: flex;
    padding: 3%;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(136, 243, 238);
    box-shadow: 1px 1px 1px grey;
    margin: 10px;
    position: relative;
}

.formular {
    display: flex;
    justify-content: center;
    line-height: 3em;
}

label {
    margin-right: 20px;
}

.line-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}