.div-enter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-HomePage p {
    color: #7180AC;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
