.div-enter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-HomePage {
    margin: 120px;
}

.text-HomePage p {
    color: #7180AC;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.div-Enter {
    margin-bottom: 100px;
}