.background-VaccinationCountryBox{
    background-color: white;
    width: 50vw;
    height: 600px;
    border-radius: 20px;
}
.background-VaccinationCountryBox h1 {
    color: #7180AC;
    margin-top: 10px;
    background-color: #FFCFDE;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 5px;
}
.countryList{
    display: flex;
    justify-content: space-evenly;
    color: #7180AC;
}

.fa-syringe{
    font-size: 2rem;
}

.div-show-calendar {
    margin-top: 20px;
}

.show-calendar {
    text-decoration: none;
}

.background-VaccinationCountryBox img {
    width: 100%;
}

.div-map {
    margin-bottom: 0;
}
