.Enter{
    display:block;
    width:110px;
    line-height:40px;
    text-align:center;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color:#0e29c4;
    margin: 40px auto 100px auto;
    margin-top: 40px;
    text-decoration:none;
    border-radius: 5px; 
    margin-bottom: 0;
    background-color: white; 
    box-shadow: 2px 2px 1px grey;
}
